on: push
name: Build on push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@master
      with:
        node-version: '12'
    - run: npm install -g yarn
    - name: Get yarn cache dir
      id: yarn-cache
      run: echo "::set-output name=dir::$(yarn cache dir)"
    - uses: actions/cache@v1
      with:
        path: ${{ steps.yarn-cache.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-
    - run: yarn install
    - run: yarn lint
    - run: yarn compile
    - run: yarn test:coverage
    - name: Check coverage reports
      if: failure()
      id: reports-exists
      run: (test -d coverage && echo "::set-output name=exists::1") || echo "coverage doesn't exists"
    - name: Upload coverage reports
      if: failure() && steps.reports-exists.outputs.exists == 1
      uses: actions/upload-artifact@v1
      with:
        name: coverage-report
        path: coverage
